::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 10px;
}

/* Import Figtree from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/*
Overwrite Bootstrap CSS
* {
    color: #333333;
}
*/

/* CSS */
.button-clear {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 6px 14px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-clear:hover {
    background-color: #f7fafa;
}

.button-clear:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    outline: 0;
}

.custom-btn {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.custom-btn:disabled {
    pointer-events: none;
}
.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.text-primary {
    color: var(--bs-primary) !important;
}

.custom-btn:hover {
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.pagination {
    --bs-pagination-color: var(--bs-primary);
}
.active>.page-link {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #fff;
}
.custom-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

td {
    vertical-align: middle;
}

.btn {
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 14px;
}
.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #fff;
}
button.btn-primary:hover {
    border-color: var(--bs-primary) !important;
    color: var(--bs-primary) !important;
}
a.btn-primary.rounded-pill:hover {
    border-color: var(--bs-primary) !important;
    color: var(--bs-primary) !important;
}


:root {
    --bs-primary: #284777;
    --bs-danger: #e74c3c;
    --default-font-color: #3a3a3a;
    --primary-color: #284777;
}
.nav-link {
    color: var(--default-font-color) !important;
    font-size: 15px !important;
}
.border-dark.active {
    border-color: var(--bs-primary) !important;
}
.nav-link.active {
    color: var(--primary-color) !important;
}

th {
    color: var(--default-font-color) !important;
}

body {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--default-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--default-font-color) !important;
}

p,
span,
label,
input,
button,
a,
li {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    color: var(--default-font-color);
}

button {
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    /* text-transform: uppercase; */
    font-size: 16px;
}

input,
textarea {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    color: var(--default-font-color);
    font-size: 14px;
}

#header {
    background: #fff;
    height: 70px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

#hero {
    width: 100%;
    height: 100vh;

    position: relative;
}

#hero .container .row div h1 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
}

#hero .container .row div h2 {
    color: #fff;
    margin: 20px 0 30px 0;
    font-size: 20px;
}

.carousel-login {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.323) 0%,
        rgba(4, 41, 255, 0.4) 100%
    );
    z-index: 1;
}

.carousel-quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 600px;
    z-index: 2;
    font-size: 1.2rem;
    line-height: 1.6;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s ease-out, transform 0.8s ease-in-out;
}

.loader-container {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.loader-logo {
    width: 140px;
    opacity: 0;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
    animation: fadeIn 1s ease-in-out forwards,
        scaleInOut 1s ease-in-out infinite alternate;
}

.loader-text {
    font-size: 20px;
    color: var(--bs-primary);
    font-weight: bold;
    margin-top: 10px;
    opacity: 0;
    animation: fadeInText 1s ease-in-out infinite alternate;
}

.blur-effect {
    filter: blur(10px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    from {
        opacity: 0.5;
        filter: blur(2px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes scaleInOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.preloader-hidden {
    opacity: 0;
    transform: scale(1.1);
    filter: blur(5px);
    pointer-events: none;
}

.form-control {
    outline: none !important;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    position: relative;
    font-size: 14px;
    border: 1px solid #b5b5b5;
    padding-block: 12px;
    padding-inline: 17px;
}

.form-control:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 6px rgba(83, 83, 83, 0.3);
}

.form-control:active {
    border-color: #0268aa;
    box-shadow: 0 0 6px rgba(83, 83, 83, 0.3);
}

.form-control:disabled,
.form-control[readonly] {
}

.form-control.date {
    border: 2px solid #ccc;
    background: #fff;
}

.form-control:hover {
    border-color: var(--bs-primary);
    box-shadow: 0 0 4px rgba(83, 83, 83, 0.3);
}

.form-control.is-invalid {
    border-color: #dc3545 !important;
}

.form-control.is-valid {
    border-color: #28a745 !important;
}

.form-control.is-invalid ~ .invalid-feedback {
    display: block;
}

.form-control.is-invalid:focus {
    box-shadow: 0 0 8px rgba(220, 53, 69, 0.3);
}

.form-control::placeholder {
    color: #888;
}

.form-select {
    outline: none !important;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    position: relative;
    font-size: 14px;
    border: 1px solid #b5b5b5;
    padding-block: 12px;
    padding-inline: 17px;
}
input[readonly] {
    background-color: white; /* Change background color */
    color: black; /* Change text color */
    cursor: default; /* Change cursor */
    /* Add any other styles you want */
}

.form-select:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 6px rgba(83, 83, 83, 0.3);
}

.form-select:active {
    border-color: #0268aa;
    box-shadow: 0 0 6px rgba(83, 83, 83, 0.3);
}

.form-select:disabled,
.form-select[readonly] {
    background-color: #f8f9fa;
    color: #6c757d;
    cursor: not-allowed;
    border-color: #ddd;
}

.form-select:hover {
    border-color: var(--bs-primary);
    box-shadow: 0 0 6px rgba(83, 83, 83, 0.3);
}

.form-select.is-invalid {
    border-color: #dc3545 !important;
}

.form-select.is-valid {
    border-color: #28a745 !important;
}

.form-select.is-invalid ~ .invalid-feedback {
    display: block;
}

.form-select.is-invalid:focus {
    box-shadow: 0 0 8px rgba(220, 53, 69, 0.3);
}

.form-select::placeholder {
    color: #888;
}

.btn-primary:hover {
    box-shadow: 0 50px #ffffff inset !important;
    color: #007bff;
}

.btn-secondary:hover {
    box-shadow: 0 50px #ffffff inset !important;
    color: #6c757d;
}

.btn-danger {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: #fff;
}

.btn-danger:hover {
    box-shadow: 0 50px #ffffff inset !important;
    color: #dc3545;
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.1);
    color: #ff0000;
    border-color: rgba(255, 0, 0, 0.1);
}

.alert-success {
    background-color: rgba(0, 255, 0, 0.1);
    color: #008000;
    border-color: rgba(0, 255, 0, 0.1);
}

.alert {
    padding: 0.625rem 0.85rem;
    border-radius: 4px;
    font-size: 0.8125rem;
}

/* Card */
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.card-body {
    padding: 20px 20px 20px 20px;
}

.card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
}

.card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}
.student-card .card-icon {
    color: var(--bs-primary);
    background: #f6f6fe;
}

.qr-card-title {
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}
